.login-box{
    margin: 200px auto;
    width: 245px;
    height: 250px;
    background: #f0f9ff;
    text-align: center;
    -webkit-box-shadow: 0px 0px 177px 4px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 177px 4px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 177px 4px rgba(0,0,0,0.31);
}
.login-header {
    background: #003554;
    padding: 10px;
    color: #FFF;
}