<div *ngIf="movies$ | async as moviesLiked">

    <!-- List View -->
    <mat-accordion *ngIf="cinema && cinema.name=='Westworld Cinemas'; else sunshineCinemas">
        <mat-expansion-panel *ngFor="let movie of moviesLiked">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{movie.title}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" [(ngModel)]="movie.title">
            </mat-form-field>
            <p>Year: {{movie.year}}</p>
            <p>Cast: {{movie.cast}}</p>
            <button mat-stroked-button (click)="likeMovie(movie)">Like</button>
            <button mat-stroked-button color="warn" (click)="deleteMovie(movie)">Delete</button>
        </mat-expansion-panel>
    </mat-accordion>

    <!-- Box View -->
    <ng-template #sunshineCinemas>
        <mat-grid-list cols="4" rowHeight="2:1">
            <mat-grid-tile class="box-view" *ngFor="let movie of moviesLiked">
                <div>
                    <mat-form-field>
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Title" [(ngModel)]="movie.title">
                    </mat-form-field>
                    <p>Year: {{movie.year}}</p>
                    <p>Cast: {{movie.cast}}</p>
                    <button class="movie-btn" mat-stroked-button (click)="likeMovie(movie)">Like</button>
                    <button class="movie-btn" mat-stroked-button color="warn" (click)="deleteMovie(movie)">Delete</button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </ng-template>
</div>