<h2>Movies Liked</h2>
<div *ngIf="moviesLiked$ | async as moviesLiked">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let movie of moviesLiked">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{movie.title}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Year: {{movie.year}}</p>
            <p>Cast: {{movie.cast}}</p>
            <button mat-raised-button (click)="unlikeMovie(movie)">Unlike</button>
        </mat-expansion-panel>
    </mat-accordion>
</div>